.advantages__wrapper {
  background-color: @light-grey-blue;
  color: @white;

  &--gray {
    background-color: #eeeeee;
    color: @black;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: @tablet-width) {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    overflow: hidden;
    height: 256px;
  }
}

.advantages__list {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  text-transform: uppercase;

  &:not(:last-child) {
    border-bottom: 1px solid #d6d6d6;

    @media (min-width: @tablet-width) {
      border: none;
    }
  }

  &--city {
    padding-top: 60px;
    padding-bottom: 45px;

    @media (min-width: @tablet-width) {
      padding-left: 47px;
      padding-right: 47px;
      padding-top: 46px;
      padding-bottom: 0;
      width: calc(100% / 3 * 1 - 94px);
    }

    @media (min-width: @desktop-width) {
      padding-top: 53px;
      padding-left: 67px;
      padding-right: 68px;
      width: calc(100% / 3 * 1 - 135px);
    }
  }

  &--bridge {
    padding-top: 45px;
    padding-bottom: 45px;

    @media (min-width: @tablet-width) {
      order: 1;
      padding-left: 47px;
      padding-right: 47px;
      width: calc(100% / 3 * 1 - 94px);
      padding-bottom: 0;
    }
  }

  &--gray {
    @media (min-width: @tablet-width) {
      padding-left: 50px;
      padding-right: 50px;
      width: calc(100% / 3 * 1 - 100px);
    }
  }
}

.advantages__list p {
  margin: 0;
  margin-top: 20px;
  line-height: 21px;
}

.advantages__list-title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 7px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }

  @media (min-width: @desktop-width) {
    width: 155px;
    margin: auto;
  }
}

.advantages__recommend-list {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  margin-bottom: 40px;
  margin-top: 15px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    padding-left: 0;
  }
}

.advantages__recommend-text {
  margin: 0;
  line-height: 21px;

  &--gray {
    color: @gray;
  }

  @media (min-width: @tablet-width) {
    width: 162px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    width: 283px;
  }
}

.advantages__recommend-item {
  list-style: none;
  padding-top: 10px;
  padding-left: 50px;
  position: relative;

  &:not(:first-child) {
    margin-top: 15px;

    @media (min-width: @tablet-width) {
      margin-top: 0;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3 * 1);
    padding-left: 0;
    padding-top: 60px;

    &--house {
      order: 1;
    }

    &--food {
      order: 2;
    }

    &--gift {
      order: 3;
    }
  }
}

.advantages__img {
  width: 100%;
  height: 260px;
  display: block;
  transform: none;

  @media (min-width: @tablet-width) {
    height: 256px;
  }

  @media (min-width: @desktop-width) {
    transform: translateY(-72px);
    height: auto;
  }
}

.advantages__recommend-title {
  margin: 0;
  font-size: 18px;
  font-style: 700;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 26px;
    margin-top: 33px;
  }
}

.advantages__recommend-icon {
  fill: @light-grey-blue;
  position: absolute;
  left: 0;
  top: 0;

  @media (min-width: @tablet-width) {
    position: relative;

    &--house {
      width: 75px;
      height: 72px;
    }

    &--gift {
      width: 64px;
      height: 75px;
    }

    &--food {
      width: 77px;
      height: 68px;
    }
  }
}
