.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 36px;
    padding-bottom: 36px;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    padding-left: 119px;
    padding-right: 119px;
  }
}

.page-footer__header {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 36px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__social {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    transform: translateX(-6px);
    max-width: 41%;
  }
}

.page-footer__social-item {
  list-style: none;
  margin: 0 3px;
}

.page-footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: @light-grey-blue;

  &:hover,
  &:focus {
    background-color: @btn-hover;
  }

  &:active {
    background-color: #5496bd;

    .page-footer__social-inc {
      fill: #88b6d1;
    }
  }
}

.page-footer__social-inc {
  fill: @white;
}

.page-footer__copiright-link {
  text-decoration: none;
  color: @black;
  text-transform: uppercase;
  display: flex;

  &:hover,
  &:focus {
    .page-footer__copiright-inc {
      fill: @light-grey-blue;
    }
  }

  &:active {
    .page-footer__copiright-inc {
      fill: #b2b2b2;
    }
  }
}

.page-footer__copiright-text {
  text-transform: uppercase;
  line-height: 26px;
  margin-right: 10px;
  padding-top: 3px;
}
