.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.page-footer__header {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 40px;
}

.page-footer__social {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
}

.page-footer__social-item {
  list-style: none;
  margin-right: 6px;
}

.page-footer__social-link {
  display: inline-block;
  width: 46px;
  height: 49px;
  background-color: @light-grey-blue;
  position: relative;
}

.page-footer__social-inc {
  position: absolute;
  left: 50%;
  top: 50%;
  fill: @white;
  transform: translate(-8px, 10px);
}

.page-footer__copiright-link {
  text-decoration: none;
  color: @black;
  text-transform: uppercase;
}
