.page-entry {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 43px;
}

.page-entry__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.page-entry__content {
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 35px;
}
