.presentation__list {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.presentation__item {
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
}

.presentation__img {
  width: 280px;
  height: 280px;
  display: block;
}

.presentation__list-title {
  text-transform: uppercase;
  margin: 0;
  margin-top: 22px;
}

.presentation__author {
  color: @gray;
}

.presentation__likes {
  border: 0;
  align-self: flex-start;
  padding-left: 33px;
  margin-top: 10px;
  position: relative;
  background: none;
}

.presentation__icon {
  position: absolute;
  left: 0;
  top: -5px;
}

.presentation__video {
  text-transform: uppercase;
  text-align: center;
}

.presentation__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.presentation__video-title {
  font-size: 18px;
  line-height: 26px;
}

.presentation__video-text {
  color: @gray;
}
