.presentation__list {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.presentation__item {
  list-style: none;
  padding-top: 21px;
  padding-bottom: 21px;
  border-top: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    padding-bottom: 0;
    padding-top: 0;
  }
}

.presentation__img {
  width: 280px;
  height: 280px;
  display: block;

  @media (min-width: @tablet-width) {
    width: 100%;
    height: 267px;
  }

  &--space {
    @media (min-width: @tablet-width) {
      width: 100%;
      height: 400px;
    }
  }
}

.presentation__content-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 16px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.presentation__content-title {
  text-transform: uppercase;
  margin: 0;
  font-size: 14px;

  @media (min-width: @desktop-width) {
    color: @white;
  }
}

.presentation__content {
  margin-top: 16px;

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.presentation__content-author {
  color: @gray;

  @media (min-width: @desktop-width) {
    color: @white;
  }
}

.presentation__likes {
  font-size: 14px;
  font-weight: 700;
  border: 0;
  padding-left: 37px;
  margin-top: 10px;
  align-self: flex-start;
  position: relative;
  background: none;
  display: block;

  @media (min-width: @tablet-width) {
    align-self: center;
    margin-top: 16px;
    padding-left: 30px;
    padding-right: 0;
    min-width: 70px;
    margin-right: 9px;
  }

  @media (min-width: @desktop-width) {
    color: @white;
    margin-top: 3px;
  }
}

.presentation__icon {
  position: absolute;
  left: 0;
  top: -5px;

  @media (min-width: @tablet-width) {
    left: 9px;
    top: -3px;
  }
}

.presentation__video {
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 41px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 199px;
    padding-right: 199px;
    padding-bottom: 85px;
  }
}

.presentation__video-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 33px;
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    padding-left: 116px;
    padding-right: 116px;
    padding-top: 67px;
    padding-bottom: 73px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 193px;
    padding-right: 193px;
    padding-top: 71px;
    padding-bottom: 71px;
  }
}

.presentation__video-title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.presentation__video-img {
  width: 100%;
  height: 201px;
  display: block;

  @media (min-width: @tablet-width) {
    height: 499px;
  }
}

.presentation__video-text {
  color: @gray;
  margin: 0;
  margin-top: 26px;

  @media (min-width: @tablet-width) {
    margin-top: 30px;
  }
}

.presentation__video-controls {
  margin: -46px 20px 0;
  padding-bottom: 39px;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    margin: 0;
    margin-top: -93px;
    padding-bottom: 0;
  }
}

.presentation__video-slide {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  height: 45px;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    left: 22px;
    top: 50%;
    right: 22px;
    height: 3px;
    background-color: rgba(225, 225, 255, 0.3);
    cursor: pointer;
    width: 235px;

    @media (min-width: @tablet-width) {
      width: 389px;
      left: 93px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 58px;
    width: 9px;
    height: 9px;
    margin-top: -3px;
    border-radius: 50%;
    background-color: @white;
    cursor: pointer;

    @media (min-width: @tablet-width) {
      left: 151px;
    }
  }

  @media (min-width: @tablet-width) {
    height: 93px;
    width: auto;
  }
}

.presentation__video-btn {
  border: none;
  padding-top: 22px;
  padding-bottom: 23px;
  padding-left: 25px;
  background-color: transparent;
  cursor: pointer;

  &--replay {
    margin-right: auto;

    @media (min-width: @tablet-width) {
      padding-left: 35px;
      padding-right: 35px;
    }
  }

  &--screen {
    padding-right: 25px;

    @media (min-width: @tablet-width) {
      padding-right: 40px;
    }

    @media (min-width: @desktop-width) {
      padding-right: 45px;
    }
  }
}

.presentation__video-icon {
  fill: #5c6870;

  @media (min-width: @tablet-width) {
    fill: @white;
  }
}
