.review-form {
  padding-bottom: 37px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.review-form__block {
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid #e5e5e5;

  &--identification {
    padding-bottom: 8px;
  }

  &--emotions {
    padding-bottom: 44px;
  }

  @media (min-width: @tablet-width) {
    border-top: none;
    padding: 0;
    box-sizing: border-box;

    &--impression {
      order: 1;
      box-shadow: 1px 0 0 0 #ececec;
      width: 50%;
    }

    &--identification {
      order: 2;
      width: 50%;
      padding-left: 57px;

      @media (min-width: @desktop-width) {
        padding-left: 80px;
      }
    }

    &--contacts {
      order: 3;
      width: 100%;
      margin-top: 75px;

      @media (min-width: @tablet-width) {
        margin-top: 0;
        padding-top: 46px;
      }
    }

    &--place {
      order: 4;
      width: 100%;
      padding-left: 95px;
      padding-right: 95px;

      @media (min-width: @tablet-width) {
        padding: 0;
      }
    }

    &--emotions {
      order: 5;
      width: 100%;
    }
  }
}

.review-form__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 18px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin-bottom: 55px;
    position: relative;

    &--place {
      margin-top: 38px;
      padding-left: 187px;
      padding-right: 187px;
      display: flex;
      align-items: center;
      margin-bottom: 25px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        height: 1px;
        width: 126px;
        background-color: #dbdbdb;
      }

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        height: 1px;
        width: 126px;
        background-color: #dbdbdb;
      }
    }

    &--contacts {
      margin-bottom: 4px;
      padding-left: 183px;
      padding-right: 184px;
      display: flex;
      align-items: center;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        height: 1px;
        width: 126px;
        background-color: #dbdbdb;
      }

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        height: 1px;
        width: 126px;
        background-color: #dbdbdb;
      }
    }

    &--emotions {
      margin-top: 38px;
      margin-bottom: 39px;
      padding-left: 198px;
      padding-right: 198px;
      display: flex;
      align-items: center;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        height: 1px;
        width: 126px;
        background-color: #dbdbdb;
      }

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        height: 1px;
        width: 126px;
        background-color: #dbdbdb;
      }
    }

    &--identification {
      text-align: start;
      margin-top: 0;
    }

    &--impression {
      text-align: start;
      margin-top: 0;
    }
  }

  @media (min-width: @desktop-width) {
    &--impression {
      padding-left: 77px;
      margin-bottom: 57px;
    }

    &--contacts {
      padding-left: 339px;
      padding-right: 340px;
      margin-top: 14px;
      margin-bottom: 54px;

      &::before {
        width: 282px;
      }

      &::after {
        width: 282px;
      }
    }

    &--place {
      padding-left: 340px;
      padding-right: 340px;

      &::before {
        width: 282px;
      }

      &::after {
        width: 282px;
      }
    }

    &--emotions {
      padding-left: 354px;
      padding-right: 355px;
      margin-top: 35px;

      &::before {
        width: 282px;
      }

      &::after {
        width: 282px;
      }
    }
  }
}

.review-form__list {
  margin: 0;
  padding: 0;

  &--contacts {
    padding-top: 20px;
    padding-bottom: 16px;

    @media (min-width: @desktop-width) {
      display: flex;
    }
  }

  &--place {
    padding-top: 17px;

    @media (min-width: @tablet-width) {
      display: flex;
      flex-wrap: wrap;
      padding-left: 95px;
      padding-right: 35px;
    }

    @media (min-width: @desktop-width) {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--impression {
    padding-top: 21px;
    padding-bottom: 10px;

    @media (min-width: @tablet-width) {
      padding-top: 0;
    }

    @media (min-width: @desktop-width) {
      margin-left: 4px;
    }
  }
}

.review-form__item {
  list-style: none;
  margin-bottom: 15px;
  position: relative;

  &--identification {
    display: flex;
    align-items: baseline;
    margin-top: 21px;

    @media (min-width: @tablet-width) {
      margin-bottom: 0;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &--impression {
    min-height: 56px;

    @media (min-width: @tablet-width) {
      margin-bottom: 0;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &--place {
    min-height: 56px;
    margin-bottom: 24px;

    @media (min-width: @tablet-width) {
      margin-bottom: 31px;
      width: 50%;
    }

    @media (min-width: @desktop-width) {
      width: auto;

      &:not(:nth-child(4n)) {
        margin-right: 68px;
      }
    }
  }

  &--contacts {
    margin-bottom: 11px;

    @media (min-width: @tablet-width) {
      margin-bottom: 0;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    @media (min-width: @desktop-width) {
      display: flex;
      box-sizing: border-box;
      width: 50%;
      margin-bottom: 0;

      &:first-child {
        padding-right: 79px;
      }

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}

.review-form__input {
  box-sizing: border-box;
  height: 58px;
  width: 100%;
  border: none;
  background-color: #f2f2f2;
  padding: 0;
  padding-left: 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  outline: none;

  &::placeholder {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: @black;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: @white;
    box-shadow: inset 0 0 0 4px #e5e5e5;
  }
}

.review-form__icon {
  position: absolute;
  right: 0;
  background-color: #e6e6e6;

  &--tel {
    padding: 20px 21px 20px 19px;

    @media (min-width: @desktop-width) {
      right: 79px;
    }
  }

  &-mail {
    padding: 23px 21px 23px 21px;
  }
}

.review-form__radio:focus + .review-form__label::before,
.review-form__check:focus + .review-form__label::before {
  background-color: #d5d5d5;
}

.review-form__label {
  position: relative;

  &:hover::before,
  &:focus::before {
    background-color: #e5e5e5;
  }

  &:active::before {
    background-color: #d5d5d5;
  }

  &:active::after {
    opacity: 0.3;
  }

  &--ident {
    line-height: 26px;
    text-transform: uppercase;
    color: @gray;
    margin-right: 14px;
  }

  &--radio {
    font-size: 18px;
    font-weight: 700;
    padding-left: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background-color: #f2f2f2;
      cursor: pointer;
    }

    &::after {
      content: "";
      position: absolute;
      left: 17px;
      top: 17px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: @black;
      display: none;
      cursor: pointer;
    }

    @media (min-width: @tablet-width) {
      padding-left: 75px;
      padding-top: 18px;
    }
  }

  &--check {
    font-size: 18px;
    font-weight: 700;
    padding-left: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 56px;
      height: 56px;
      border-radius: 5px;
      background-color: #f2f2f2;
      cursor: pointer;
    }

    &::after {
      content: "";
      position: absolute;
      left: 17px;
      top: 20px;
      width: 24px;
      height: 16px;
      background-image: url("../img/icon-tick.svg");
      background-repeat: no-repeat;
      display: none;
      cursor: pointer;
    }
  }

  &--cont {
    text-transform: uppercase;
    line-height: 26px;
    color: @gray;
    margin-left: 21px;
    margin-bottom: 8px;
    display: block;

    @media (min-width: @desktop-width) {
      align-self: center;
      margin-right: 16px;
      margin-left: 0;
      margin-bottom: 0;
    }
  }
}

.review-form__radio:checked + &::after,
.review-form__check:checked + &::after {
  display: block;
}

.review-form__textarea {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  min-height: 160px;
  padding: 0;
  padding-left: 20px;
  padding-top: 17px;
  margin-top: 17px;
  width: 100%;
  resize: none;
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: @black;
    font-family: @font-family-base;
  }
}

.review-form__btn {
  width: 280px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: @white;
  background-color: @light-grey-blue;
  font-family: @font-family-base;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  padding-top: 17px;
  padding-bottom: 17px;
  cursor: pointer;
  border: none;
  display: block;

  &:hover,
  &:focus {
    background-color: @btn-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
    color: @white;
  }

  @media (min-width: @tablet-width) {
    padding-right: 74px;
    padding-left: 64px;
    width: 50%;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.review-form__message {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    width: 50%;
    text-align: right;
    align-self: center;
    text-transform: uppercase;
  }
}

.review-form__bottom-wrapper {
  @media (min-width: @tablet-width) {
    order: 6;
    display: flex;
    width: 100%;
    margin-top: 51px;
    margin-bottom: 61px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 64px;
  }
}

.review-form__span {
  &--hidden {
    @media (min-width: @desktop-width) {
      display: none;
    }
  }
}
